.bottomMenu {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.7rem;
    color: #808080;
    font-weight: 100;
    align-items: center;
    flex-wrap: wrap;
    gap: 5vh 0vw;
}

.bottomMenuList {
    display: flex;
    list-style: none;
    gap: 2vw;
    align-items: center;
    flex-wrap: wrap;
}

.bottomMenuItem {
    cursor: pointer;
    padding: 0.25rem 0.5rem;
    border: 1px solid #FEFEFE;
}

.active {
    border: 1px solid #EDDADA;
    border-radius: 4px;
    padding: 0.25rem 0.5rem;
}

.bottomMenuClear {
    cursor: pointer;
}